
/*Navbar estilo kk*/
header, .navbar{
    background-color: #5c677d;
}

#nav-container{
    padding-bottom: 0  ;
    padding-top: 0;
}

#logo{
    width: 75px;
}
.navbar-brand:hover{
    color: white;
}

.navbar-brand{
    padding: 0;
    color: white;
}

#navbar-links a{
    color: white;
}

.navbar-expand-lg .navbar.nav nav-link{
    padding: 1rem .8rem;

}
/*textos em geral*/
#textgeral{
    color: #979dac;
    background-color:/* #023e7d #001845*/#001233;
    padding: 20%;
}
.titulo{
    font-size: 75px;
    text-align: center;
}
.texto_corpo{
    font-size: 25px;
    text-align: center;
}
.texto_corpo1{
    font-size: 25px;
    text-align: left;
}

.fonte_slide{
    font-size: 45px;
    font-weight: bold;
    text-shadow: black 0.0em 0.0em 0.1em;

}
.fonte_sub_slide{
    text-shadow: black 0.0em 0.0em 0.1em;
}

/*footer*/
footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #5c677d;
        color: white;
        text-align: center;
        padding: 5%;
}

/*vida_page*/
#right{
    float: right;
    padding-top: 5%;
    margin: auto;
    padding-left: 0;
    
}
#left{
    display: inline-block;
    width: 400px;
    margin: auto;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 20%;
}
