
/*Navbar estilo kk*/
header, .navbar{
    background-color: grey;
}

#nav-container{
    padding-bottom: 0  ;
    padding-top: 0;
}

#logo{
    width: 75px;
}
.navbar-brand:hover{
    color: white;
}

.navbar-brand{
    padding: 0;
    color: white;
}

#navbar-links a{
    color: white;
}

.navbar-expand-lg .navbar.nav nav-link{
    padding: 1rem .8rem;

}
#textgeral{
    color: #979dac;
    background-color: #001233;
}
.titulo{
    font-size: 75px;
    text-align: center;
}
